# package directories
node_modules
jspm_packages

#npm
npm-debug.log

# Serverless directories
.serverless
.webpack
coverage
.requirements
bin

*.pyc

# misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*~
*.swp
*.swo
.vscode
.idea

